{
  "env": {
    "jest": true
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "prettier",
    "next/core-web-vitals"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "react/display-name": "warn"
  }
}
